<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home page{% endblock title %}</title>
</head>
<body>
    <nav>
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'create' %}">Create note</a>
        <a href="">About</a>
    </nav>
    {% block content %}
    {% if context %}
      {% for data in context %}
        <p>
            {{data.title}} (<a href="">update</a>|<a href="">delete</a>)<br>
            {{data.content}}<br>
        </p>
      {% endfor %}
    {% else %}
    <p>No data yet. add a note? <a href="{% url 'create' %}">add a note</a></p>
    {% endif %}
    {% endblock content %}
</body>
</html>